VITE_PUBLIC_APP_NAME='llama-ui'
VITE_DEBUG='true'
VITE_PUBLIC_SERVER_ORIGIN='http://localhost:8033'
VITE_PUBLIC_MCP_SERVERS='[{"id":"local-mcp","enabled":true,"url":"http://localhost:8080/mcp","useProxy":true}]'
